.main{
    background-color: #dfdddd;
}

.characterpage{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    &__back{
        align-self: flex-start;
        color: #fff;
        background-color: #788fb2;
        border: 1px solid #000;
        border-radius: 5px;
        padding: 5px 10px;
        font-size: 20px;
        margin-bottom: 15px;
    }
    &__character{
        background-color: #fff;
        display: flex;   
        flex-wrap: wrap;     
        gap: 15px;
        border: 1px solid #b8b8b8;
        padding: 10px;
        border-radius: 5px;
    }
    &__characterinfo{
        display: flex;
        flex-direction: column;
        row-gap: 10px
    }
    &__name{
        font-size: 30px;
        margin-bottom: 10px;
    }
    &__img{
        border: 3px solid #000;
    }
    &__item{
        font-weight: 600;
        word-break: break-word;      
        white-space: normal;    
    }
}

